flows_raspberrypi.json
[{"id":"a7033501.a0d698","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"6b93db00.5b76a4","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"3799dd5c.d0fcc2","type":"inject","z":"a7033501.a0d698","name":"","topic":"on","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":80,"wires":[["b1fc582.fbaafa8"]]},{"id":"b1fc582.fbaafa8","type":"rpi-gpio out","z":"a7033501.a0d698","name":"","pin":"40","set":false,"level":"0","freq":"","out":"out","x":400,"y":200,"wires":[]},{"id":"e189089d.7614a8","type":"inject","z":"a7033501.a0d698","name":"","topic":"off","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":200,"wires":[["504d78ff.b24ad8"]]},{"id":"504d78ff.b24ad8","type":"rpi-gpio out","z":"a7033501.a0d698","name":"","pin":"40","set":true,"level":"0","freq":"","out":"out","x":400,"y":80,"wires":[]},{"id":"fe812fdf.a7975","type":"rpi-gpio in","z":"a7033501.a0d698","name":"","pin":"38","intype":"tri","debounce":"25","read":true,"x":250,"y":500,"wires":[["fd9e0f78.12f26","2242f521.66c22a"]]},{"id":"fd9e0f78.12f26","type":"rpi-gpio out","z":"a7033501.a0d698","name":"","pin":"40","set":true,"level":"0","freq":"","out":"out","x":420,"y":500,"wires":[]},{"id":"2242f521.66c22a","type":"debug","z":"a7033501.a0d698","name":"<insert msg here>","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":420,"y":620,"wires":[]},{"id":"e433a90e.0dac98","type":"rpi-sensehat in","z":"a7033501.a0d698","name":"<insert name here>","motion":false,"env":true,"stick":false,"x":650,"y":300,"wires":[["a05d8661.dc4e08"]]},{"id":"a05d8661.dc4e08","type":"debug","z":"a7033501.a0d698","name":"<insert msg here>","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":910,"y":320,"wires":[]},{"id":"bddcafb1.94342","type":"inject","z":"6b93db00.5b76a4","name":"","topic":"RELAY Off","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":120,"wires":[["c1d94094.45e5e"]]},{"id":"c1d94094.45e5e","type":"rpi-gpio out","z":"6b93db00.5b76a4","name":"RELAY","pin":"16","set":true,"level":"0","freq":"","out":"out","x":520,"y":120,"wires":[]},{"id":"fe8c7687.b5eed8","type":"rpi-mouse","z":"6b93db00.5b76a4","name":"","butt":"4","x":260,"y":160,"wires":[["c1d94094.45e5e"]]},{"id":"18b97754.a5b3f9","type":"inject","z":"6b93db00.5b76a4","name":"","topic":"RELAY On","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":80,"wires":[["c1d94094.45e5e"]]}]